html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans', Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 18px;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 2px solid;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
  height: 40px;
  cursor: pointer;
}

.scrollTop:hover {
  background-color: #FFF;
}

button > img {
  background-color: white;
  height: 50%;
  border-radius: 4px;
  align-items: center
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}