body {
  color: #141414;
}

.light .experiencia-texto {
  color: #525252;
}

.light .experiencia-texto strong {
  color: #141414;
}

.light .portfolio {
  background-color: #292929;
  color: white;
}

.light .portfolio-texto {
  color: #A3A3A3;
}

.light .portfolio-item span {
  color: #8F8F8F;
}

.light .portfolio-item a:hover {
  color: #D6D4D4;
}

.light .darkmode {
  background-color: black;
  color: white;
  cursor: pointer;
}

button.top {
  background: white;
  color: black;
  cursor: pointer;
}